<form action="/celebrities/new" method="post">

  <label for="name">name: </label>
  <input type="text" name="name" id="name" />

  <label for="occupation">occupation: </label>
  <input type="text" name="occupation" id="occupation" />

  <label for="catchPhrase">Summary: </label>
  <input type="text" name="catchPhrase" id="catchPhrase">

  <button type="submit">Add a Celebrity</button>

</form>